.header{z-index: 17;}
.header .btn.btn-primary{background-color: transparent; border: none; font-size: 16px;}
.vcenter { display: inline-block; vertical-align: middle; float: none; }
.text-center{text-align: center;}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:block;zoom:1}   
.row.no-gutter { margin-left: 0; margin-right: 0; }
.row.no-gutter [class*='col-']:not(:first-child), .row.no-gutter [class*='col-']:not(:last-child) { padding-left: 0; padding-right: 0; }
 
/*********/
/* SECTION TITLE */
/*********/
.section-heading { padding: 30px 0; }

.section-title { font-size: 26px; color: #333333; text-transform: uppercase; font-weight: bold; margin-bottom: 10px; text-align: center; letter-spacing: 1px; }

.section-subtitle { font-family: 'Playfair Display', serif; font-style: italic; font-size: 16px; color: #999999; margin-bottom: 15px; text-align: center; }

.design-arrow { width: 1px; height: 50px; background: #dddddd; position: relative; margin: 10px auto; }
.design-arrow.inline-arrow { display: inline-block; vertical-align: middle; float: none; }
.design-arrow:after { content: ""; display: block; position: absolute; width: 11px; height: 11px; border: 2px solid #ff6400; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; top: 100%; left: -5px; }
/*****************************/
/**** PRICE SECTION ****/
/*****************************/
.price-section { padding: 100px 0 80px; position: relative; }
.price-section .pricing-background { position: absolute; top: 0; width: 100%; height: 520px; background: url(../img/section-5.jpg) center no-repeat; background-size: cover; }
.price-section .section-heading { margin-bottom: 30px; }
.price-section .section-title { color: #fff; }
.price-section .section-subtitle { color: #fff; }
.price-section .dark-content { position: relative; z-index: 15; }
.price-section .plans-list { font-size: 0; }
.price-section .plans-list .col-md-4 { max-width: 300px; margin-bottom: 15px; }
.price-section .plans-list * { font-size: 14px; }

/****** SECTION ICON ******/
.with-icon { position: relative; }
.with-icon .section-icon { position: absolute; top: -25px; left: 50%; margin-left: -25px; z-index: 11; width: 50px; height: 50px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #eff2f7; text-align: center; }
.with-icon .section-icon .icon, .with-icon .section-icon .fa,.with-icon .section-icon .glyphicon { line-height: 50px; font-size: 16px; color: #666666; position: relative; z-index: 3; }
.with-icon .section-icon:after { content: ""; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; position: absolute; top: 4px; left: 4px; right: 4px; bottom: 4px; display: block; background: #fff; border: 1px solid #dcdfe4; }
/****** DARK EFFECT ******/
.dark { position: relative; }
.dark.dark-strong::after { opacity: 0.8; }
.dark::after { content: ""; display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: #000000; opacity: 0.6; z-index: 1; }

.dark-content { position: relative; z-index: 2; }

.with-top-effect { background: url(../img/divider.svg) top center; background-repeat: no-repeat; }
.with-top-effect .section-icon { top: 17px; }
/******  BOTTOM EFFECT  ******/
.with-bottom-effect { position: relative; overflow: hidden; }
.with-bottom-effect.transparent-effect .bottom-effect { position: absolute; z-index: 10; bottom: -50px; width: 2500px; height: 148px; left: -100px; background: rgba(255, 255, 255, 0.6); -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -ms-transform: rotate(-3deg); -o-transform: rotate(-3deg); transform: rotate(-3deg); padding-top: 10px; }
.with-bottom-effect.transparent-effect .bottom-effect:after { content: ''; display: block; background: rgba(255, 255, 255, 0.9); height: 148px; -webkit-box-shadow: inset 0px -12px 13px -2px white; -moz-box-shadow: inset 0px -12px 13px -2px white; box-shadow: inset 0px -12px 13px -2px white; }
.with-bottom-effect:before { content: ""; -webkit-box-shadow: inset 0px -12px 13px -2px white; -moz-box-shadow: inset 0px -12px 13px -2px white; box-shadow: inset 0px -12px 13px -2px white; display: block; width: 100%; position: absolute; z-index: 11; bottom: 0; height: 30px; }
.with-bottom-effect .bottom-effect { position: absolute; z-index: 10; bottom: -50px; width: 2500px; height: 148px; left: -100px; background: #fff; -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -ms-transform: rotate(-3deg); -o-transform: rotate(-3deg); transform: rotate(-3deg); padding-top: 10px; }
.with-bottom-effect .bottom-effect:after { content: ''; display: block; background: #fff; height: 148px; }
/******  PLANS ITEM ******/
.plan-item { background: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; border: 1px solid #eeeeee; }
.plan-item.active { border: none; border-top: 5px solid #ff6400; position: relative; z-index: 3; margin: -15px; padding-bottom: 15px; -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); }
.plan-item.active .item-heading { padding-top: 54px; margin-bottom: 3px; }
.plan-item.active .item-body { border-top: 1px solid #e7e8ec;}
.plan-item.active .item-footer .btn { background: #ff6400; color: #fff; }
.plan-item .item-heading { padding-top: 40px; text-align: center; padding-bottom: 20px; border-bottom: 1px solid #e7e8ec; }
.plan-item .item-heading .name { font-size: 14px; color: #ff6400; text-transform: uppercase; font-weight: normal; margin-bottom: 15px; display: inline-block; }
.plan-item .item-heading .count { font-size: 30px; color: #2a2d32; margin-bottom: 5px; }
.plan-item .item-heading em { color: #cccccc; font-size: 14px; }
.plan-item .item-body{ padding: 35px 30px 20px 55px;}

.plan-item .item-footer { padding: 20px 15px 35px; }
.plan-item .item-footer .btn { border-color: #eeeeee; font-size: 11px; color: #333333; padding-left: 30px; padding-right: 30px; }
.plan-item .item-footer .btn:hover { background: #ff6400; color: #fff; }

/*****************************/
/**** LATEST NEWS SECTION ****/
/*****************************/
.latest-news-section { padding: 0 0 50px; }
.latest-news-section.with-top-effect { padding-top: 120px; }
/*****************************/
/**** flat button ****/
/*****************************/
    .flat-btn,
    .flat-btn:after,
    .owl-nav > div,
    .owl-nav > div::before,
    .iconbox .box-header .box-icon,
    .iconbox.bg-style {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    .button-style {
      padding-bottom: 5px;
    }
    .button-style.center {
      text-align: center;
    }
    .button-style.mg-left2 {
      margin-left: -2px;
    }
    .wrap-btn {
      position: relative;
      display: inline-block;
      z-index: 2;
    }
    .flat-btn {
      position: relative;
      display: inline-block;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 0.2em;
      border: 2px solid #ffbf43;
      padding: 10px 45px 11px 45px;
      color: #22272b;
      background: #FFF;
    }
    .flat-btn:hover,
    .flat-btn.pdwith57:hover {
      color: #fff;
      background: #ffbf43;
      text-decoration: none;
    }
    .flat-btn:after {
      position: absolute;
      left: 3px;
      top: 3px;
      content: "";
      z-index: -1;
      width: 102%;
      height: 108%;
      border: 2px solid #ffbf43;
    }
    .flat-btn.bg-color {
      background-color: #ffbf43;
      color: #fff;
      padding: 10px 40px 11px 44px;
    }
    .flat-btn.bg-color:hover {
      background-color: #fff;
      color: #22272b;
    }
    .flat-btn.style3 {
      padding: 10px 25px 11px 28px;
    }

/*****************************/
/**** pay page ****/
/*****************************/
.ibox{margin:50px auto 30px; padding:15px; }
.ibox-bordered{border: 1px solid #ddd; -moz-border-radius:5px; -wekit-border-radius:5px; border-radius:5px; }
.ibox p{margin-bottom: 0;}
.text-right{text-align: right;}
.ibox p span{font-size: 16px; line-height: 30px;}
.ibox p strong{font-size: 30px; font-weight: normal; color: #e94832; line-height: 50px;}
.w1080{width: 1080px; margin: 0 auto;}
    /*支付方式*/
.PayMethod12 a{display: block; width:100%; text-align: center; padding: 15px; margin:15px auto; cursor:pointer; border:1px solid #d8d8d8;}
.PayMethod12 a:hover,.PayMethod12 a:focus{text-decoration: none;}
.PayMethod12 a.active{ border-color:#1a8ae1;}
.PayMethod12 a i{ display:inline-block; vertical-align: middle; }
.PayMethod12 a .i1{ width:30px; height:21px; background:url(../img/alipay12.png) no-repeat center center; }
.PayMethod12 a .i2{ width:28px; height:24px;  background:url(../img/wechart12.png) no-repeat center center;}
.PayMethod12 a .i3{ width:32px; height:18px;  background:url(../img/bank12.png) no-repeat center center;}
.PayMethod12 a .i4{ width:42px; height:16px;  background:url(../img/jd12.png) no-repeat center center;}
.PayMethod12 a .i5{ width:33px; height:22px; background:url(../img/card12.png) no-repeat center center;}
.PayMethod12 a span{ position:relative; color:#323232;}


.margin-right-15{margin-right: 15px;}
.immediate_pay{ display:inline-block; width:165px; height:54px; line-height:54px; background:#1a8ae1; font-size:18px; color:#fff; text-align:center; cursor:pointer; }
.immediate_pay:hover{text-decoration: none; opacity: 0.8; color: #fff;}

/* --------- 五等分 --------- */
.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5,
.col-xs-2-5, .col-sm-2-5, .col-md-2-5, .col-lg-2-5,
.col-xs-3-5, .col-sm-3-5, .col-md-3-5, .col-lg-3-5,
.col-xs-4-5, .col-sm-4-5, .col-md-4-5, .col-lg-4-5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}   
.col-xs-1-5 {
    width: 20%;
    float: left;
}
.col-xs-2-5 {
    width: 40%;
    float: left;
}

.col-xs-3-5 {
    width: 60%;
    float: left;
}

.col-xs-4-5 {
    width: 80%;
    float: left;
}
@media (max-width: 992px) {
  .flat-fix{text-align: center;}
}
@media (max-width: 1168px) {
  .page .main{padding-top: 61px!important;}
}
@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
    .col-sm-2-5 {
        width: 40%;
        float: left;
    }
    .col-sm-3-5 {
        width: 60%;
        float: left;
    }
    .col-sm-4-5 {
        width: 80%;
        float: left;
    }
}
@media all and (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
    .col-md-2-5 {
        width: 40%;
        float: left;
    }
    .col-md-3-5 {
        width: 60%;
        float: left;
    }
    .col-md-4-5 {
        width: 80%;
        float: left;
    }
}
@media all and (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
    .col-lg-2-5 {
        width: 40%;
        float: left;
    }
    .col-lg-3-5 {
        width: 60%;
        float: left;
    }
    .col-lg-4-5 {
        width: 80%;
        float: left;
    }
} 

@media screen (min-width: 200px) {
  .color-red{color: yellow}
}

.header .header_menu ul li a{padding:0 12px;}